body{
    /* background-color: #eee; */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    /* display: flex;
    flex-direction: column; */
}

.header{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 240px;

}

.header li{
    color: #E5E7EB;
    font-size: 18px;
}
.logo{
    font-size: 24px;
    font-weight: 600;
    margin-left: 40px;
}

.header ul{
    display: flex;
    gap: 16px;
    margin: 0;
    margin-right: 40px;
}

li{
    list-style: none;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:168px;
    padding: 100px 180px;
    background-color: #1F2937;
    margin-bottom: 24px;
}
img{
    width: 600px;
    height: 300px;    
}
.text{
    width: 500px;
}

h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0 0 8px 0;
}

.text p{
    color: #E5E7EB;
    font-size: 18px;
    margin: 0 0 18px 0;
    line-height: 1.6;
}

.text button{
    font-size: 20px;
    background-color: #3882F6;
    border: none;
    border-radius: 4px;
    padding: 14px 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 0 180px;
    margin-bottom: 48px;
}

.container h2{
    font-size: 36px;
    text-align: center;
    color: #1F2937;
    font-weight: 900;
}

.imgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 120px;    
}
.info{
    width: 160px;
}

.info p{
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}

.holder{
    width: 160px;
    height: 160px;
    border: solid 3px #1d63d2;
    border-radius: 18px;
}



.quote{
    background-color: #E5E7EB;
    padding: 64px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote .text{
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
    width: 900px;
    line-height: 1.4;
    padding: 0;
    margin: 0;
}

.quote .author{
    color: #1F2937;
    font-size: 24px;
    font-weight: 900;
    text-align: right;
    width: 700px;
}